
.info-com-topMenu
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    width: 410px;
    height: 55px;
    background: #2b2b2b;
    border-width: 0px 0.01vw 0.01vw 0.01vw;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    .btn_top-memu
    {
        position: relative;
        width: 55px;
        height: 55px;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        padding-top: 1px;
        top: -1px;
        
        transition: 0.5s;
        &:hover
        {
            background: #1A1919;
        }
        &:active
        {
            background: #4AFF93;
            transition: 0.2s;
        }
        .link-btn
        {
            width: 0;
            height: 0;
            padding: 0;
            margin: 0;
            font-size: 0;
            text-decoration: none;
            .svt_t_M0
            {
                width: 28px;
                height: 28px;
            //  cursor: url(../../home/img/pointer.png), auto;
            }
        }
    }
    .ropwei
    {
        background: #4AFF93;
        transition: 0.2s;
        &:hover
        {
            background: #4AFF93;
            transition: 0.2s;
        }
    }
    .btn_top-memu-none
    {
        width: 55px;
        height: 55px;
        border: none;
        padding: 0;
        margin: 0;
        background: none;
    }
    .info_btn-move
    {
        display: none;
        width: 100px;
        height: 30px;
        border-radius: 3px;
        background: #4AFF93;
        position: relative;
        top: 54px;
        box-shadow: 2px 5px 15px 0px #1A1919;
        border: 1px solid #1a1919;
        p{
            padding: 0;
            margin: 0;
            display: flex;
            text-align: center;
            justify-content: center;
            padding-top: 5px;
            font-size: 14px;
            color: #343434;
            span{
                padding-left: 10px;
                font-size: 16px;
                margin-top: -2px;
                font-weight: 500;
            }
        }
    }
}

.pointer{ cursor: url(../../assets/imegs/pointer.png), auto; }
.cursor_zoom{ cursor: url(../../assets/imegs/zoom.png), auto; }

.move_btn-1:hover + .info_btn-move{display: block;left: -24px;}
.move_btn-2:hover + .info_btn-move{display: block;left: 30px;}
.move_btn-3:hover + .info_btn-move{display: block;left: 85px;}
.move_btn-4:hover + .info_btn-move{display: block;left: 140px;}
.move_btn-5:hover + .info_btn-move{display: block;left: 195px;}
.move_btn-6:hover + .info_btn-move{display: block;left: 330px;}

