
$BorderColor-3: rgba(255, 255, 255, 0.5); 

%SvgSwap {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 13px;
    transition: .5s;
}

.column_swap
{
    position: absolute;
    width: 250px;
    height: 100%;
    left: 250px;
    
    z-index: 3;
    transition: .5s;
    .btn-swap
    {
        position: absolute;
        width: 250px;
        height: 55px;
        top: 0;
        padding: 0;
    
        cursor: url(../../../assets/imegs/pointer.png), auto; 
        transition: .5s;
        .svg_swap-active
        {
            @extend %SvgSwap;
            right: 20px;
            transform: rotate(180deg);
            
        }
        .svg-swap
        {
            @extend %SvgSwap;
            right: 11px;
            transform: rotate(360deg);
            
        }
        .svg_swap-pointer
        {
            cursor: url(../../../assets/imegs/pointer.png), auto; 
        }
        #svgSwapPointer
        {
            cursor: url(../../../assets/imegs/pointer.png), auto; 
        }
}
.btn_swap-active
{
    width: 51px;
    transition: .5s;
}
}
.column_swap-active
{
    width: 51px;
    transition: .5s;
}

.button_swap__container-active
{
    position: absolute;
    display: block;
    width: 250px;

    margin-top: 56px;
    
    animation: 1s identifier;
    transition: 0.5s;
}
.button_swap__container-none
{
    display: none;
    width: 0;
    transition: 0.5s;
}

.container_button__swap-main
{
    display: grid;
    max-width: 1px;
    width: 100%;
}
.button__swap-button
{
    width: 250px;
    height: 45px;
    padding-left: 80px;
    font-size: 13px;
    border: none;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.5);
    text-align: left;
    background: none;
    
    cursor: url(../../../assets/imegs/pointer.png), auto; 
    animation: 0.7s add;
    transition: 0.5s;
    &:hover
    {
        padding-left: 40px;
        background: #1A1919;
        transition: 0.5s;
    }
    &:active{
        color: #2b2b2b;
        background: #4AFF93;
        border-bottom: 0.1px solid #4AFF93;
        transition: 0.2s;
    }
}

.dropdown 
{
    position: relative;
    display: inline-block;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    width: 250px;
    height: 300px;
    top: -1px;
    left: 250px;
    background: #282828;
    border: 0.1px solid $BorderColor-3;
    
    overflow-y: overlay; 
    overflow-x: hidden;
    
    z-index: 100;
    
    cursor: url(../../../assets/imegs/pointer.png), auto; 
    animation: 1s identifier;
    
    &::-webkit-scrollbar 
    {
        width: 10px;     
    }
    &::-webkit-scrollbar-track 
    {
        background: none;

    }
    &::-webkit-scrollbar-thumb 
    {
        background-clip: padding-box;
        background-color: #2b2b2b7d; 
        border: 0.01vw solid #fff;
        border-radius: 2vw;
    }
}

.dropdown:hover .dropdown-content 
{
    display: block;
}

.dropdown:hover .slaiderBtn 
{
    color: #2b2b2b; 
    background-color: #4AFF93;
    padding-left: 40px;
}