footer
{
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 35px;
  .nav_f
  {
    margin-bottom: 80px;
    ul
    {
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 600px;
      padding: 0;
      margin: 0 auto;
      li
      {
        a
        {
          color: #5F5F5F;
          text-decoration: none;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          cursor: url(../assets//imegs/pointer.png), auto;
          &:hover
          {
            color: #4AFF93;
            transition: 0.3s;
          }
        }
      }
    }
  }
  .feedback_f
  {
    ul
    {
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 600px;
      padding: 0;
      margin: 0 auto;
      li
      {
        a
        {
          color: #5F5F5F;
          text-decoration: none;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          cursor: url(../assets//imegs/pointer.png), auto;
          &:hover
          {
            color: #4AFF93;
            transition: 0.3s;
          }
        }
      }
    }
  }
}