//       cursor: url(../assets/imegs/pointer.png), auto;
:root {
  --file-grid-tile-min-width: 872px;
}


* {
  cursor: url(../assets/imegs/cursor.png), auto;
}


span {color: #4AFF93;}

body 
{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: overlay;
  overflow-x: hidden;
  cursor: url(../assets/imegs//cursor.png), auto;

  &::-webkit-scrollbar 
  {
    width: 0.6vw;    
    background: #343434; 
  }
  &::-webkit-scrollbar-track 
  {
    background: #343434; 
  }
  &::-webkit-scrollbar-thumb 
  {
    background-clip: padding-box;
    background: #2b2b2b; 
    border: 0.01vw solid #fff;
    border-radius: 2vw;
  }  

}
  
code 
{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}



.disable_zoom
{
  .app_home
  {
    display: block;
    min-width: 320px;
    max-width: 1350px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 2859px;
    background: url(../assets/imegs/bgg.png) no-repeat center center;
    margin-top: 90px;
    .container_title
    {
      display: grid;
      grid-template-columns: 1fr;
      width: 955px;
      height: 390px;
      margin: 0 auto;
      justify-content: center;
      margin-top: 50px;
      h1 
      {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 128px;
        line-height: 150px;
        color: #fff;
        text-shadow: 0px 0px 35px #000000;
      }
      p
      {
        font-family: 'Roboto', sans-serif;
        width: 640px;
        margin-left: 160px;
        margin-top: -107px;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        color: #fff;
        span
        {
          margin-left: 435px;
        }
      }
      .btn_title
      {
        position: relative;
        top: 120px;
        width: 200px;
        height: 55px;
        background: #4AFF93;
        border-radius: 34px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        display: flex;
        margin: 0 auto;
        border: none;
        outline: none;
        justify-content: center;
        &:active
        {
          transform: scale(0.95);
        }
        a{
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          text-decoration: none;
          align-items: center;
          justify-content: center;
          color: #1A1A1A;

          cursor: url(../assets/imegs/pointer.png), auto;
        }
      }
    }
    .container_info-1
    {
      display: flex;
      margin: 0 auto;
      margin-top: 160px;
      width: 586px;
      img
      {
        width: 200px;
        height: 300px;
      }
      .container_t
      {
        color: #fff;
        margin-left: 67px;
        margin-top: 60px;
      }
    }
    .container_info-2
    {
      display: flex;
      margin: 0 auto;
      margin-top: 190px;
      width: 586px;
      img
      {
        width: 365px;
        height: 110px;
      }
      .container_t
      {
        color: #fff;
        margin-left: 67px;
        margin-top: -32px;
      }
    }
    .container_info-3
    {
      display: flex;
      margin: 0 auto;
      margin-top: 190px;
      width: 586px;
      img
      {
        width: 200px;
        height: 200px;
        margin-left: 67px;
        margin-top: -50px;
      }
      .container_t
      {
        color: #fff;
        margin-top: -32px;
      }

    }
    .container_content-component
    {
      width: 1350px;
      h2 
      {
        color: #fff;
        padding-top: 80px;
        text-align: center;
      }
      .container__swap_contetn
      {
        display: flex;
        margin-top: 110px;
        padding-left: 100px;
        .btn_content
        {
          display: block;
          width: 200px;
          height: 55px;
          border-radius: 50px;
          background: #1A1A1A;
          color: #4AFF93;
          display: flex;
          justify-content: center;
          padding-top: 17px;
          font-family: 'Roboto';
          font-size: 16px;
          font-weight: 400;
          border: none;
          outline: none;
          margin-left: 35px;

          cursor: url(../assets/imegs/pointer.png), auto;
        }
        .active__btn_content
        {
          background: #4AFF93;
          color: #1A1A1A;
        }
        .animatic_btn-con{
          &:hover
          {
            background: #2B2B2B;
            border: 3px solid #1A1A1A;
            color: #fff;
            padding-top: 14px;
            transition: 0.3s;
          }
        }
      }
      .contaienr_content
      {
        display: grid;
        width: 630px;
        padding-top: 60px;
        margin: 0 auto;
        grid-template-rows: 200px 200px 200px;
        grid-template-columns: 200px 200px 200px;
        .none_i {
          animation-duration: 1s;
          animation-fill-mode: forwards;
          animation-iteration-count: infinite;
          animation-name: skeletonShimmer;
          animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
          background: linear-gradient(to right, #3a3a3a 0%, #343434 50%, #3a3a3a 100%);
          background-size: 200% 100%;
          width: 170px;
          height: 170px;
          margin-top: 20px;
          margin-left: 20px;
          border-radius: 8px;
          @keyframes skeletonShimmer {
            0% {
              background-position: 100% 0;
            }
            100% {
              background-position: -100% 0;
            }
          }
        }
      }
    }
  }
}


.container_t
{
  h2
  {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }
  p
  {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    margin-top: -20px;
  }
}

.btn_n-p
{
  margin: 25px;
  display: flex;
  width: 150px;
  height: 38px;
  background: #4aff93;
  justify-content: center;
  padding-top: 5px;
  border-radius: 8px;
  text-decoration: none;
  color: #343434;
  font-size: 20px;
  box-shadow: 0 0 10px 2px #0003;
}
